/* global */
body{
    background-color: black;
    font-family: Lato, Arial, Helvetica;
    color: white;
    overflow: hidden;
    margin: 0px;
}
.panel{
    width: 100%;
    height: 100vh;
}
.floater{
    display: block;
    background-color: red;
    position: fixed;
    top: 0px;
    left: 0px;
}
.button{
    width: 400px;
    height: 42px;
    border-radius: 4px;
    background-color: #F8A61A;
    border: 1px solid #F8A61A;
    color: white;
    text-align: center;
    cursor: pointer;
}
.button:hover{
    background-color: #f8970e;
}
.button span{
    line-height: 42px;
    font-weight: 700;
}
.disabled {
    pointer-events: none;
    opacity: 0.3;
}
.panelTitle{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
}
/* Login Screen */
.loginPanel{
    background-color: #222222;
    border: 1px solid rgba(102,102,102,0.5);
    border-radius: 6px;
    background-color: #222222;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginPanel .title{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.loginPanel .title span{
    font-size: 28px;
    margin-left: 8px;
}
.loginPanel .button{
    margin-top: 30px;
}
.loginPanel .loginLabel{
    color: #F4F4F4;
    font-weight: 700;
    font-size: 24px;
    margin-top: 30px;
}
.loginPanel .loginInput{
    width: 400px;
    height: 42px;
    margin-top: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-size: 16px;
    padding-left: 8px;
}
.loginPanel input[type=checkbox]
{
    -webkit-transform: scale(1.4);
    margin-right: 8px;
}
.loginPanel .link{
    font-size: 16px;
    color: #666666;
    cursor: pointer;
}
.loginPanel .link:hover{
    text-decoration: underline;
}

/* header */
#header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #222222;
    border-top: 3px solid black;
}
#header .title{
    font-size: 18px;
    font-weight: 700;
    margin-left: 8px;
}
#header img{
    margin-left: 12px;
}
#header .button{
    margin-left: auto;
    width: 80px;
    height: 24px;
    border: 1px solid #666666;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.1);
    font-size: 12px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
#header .button:hover{
    background-color: #F8A61A;
    border: 1px solid #F8A61A;
}
#header .button span{
    line-height: 24px;
    font-size: 13px;
}
#header .username{
    margin-right: 16px;
    margin-left: 8px;
    color: #666666;
    cursor: pointer;
}
#header .username:hover{
    text-decoration: underline;
}
#header img{
    margin-left: 16px;
}

/* status footer */
.statusContainer{
    background-color: #222222;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 28px;
    padding-left: 12px;
    width: 100%;
    display: flex;
    align-items: center;
}
.statusContainer .label{
    font-size: 15px;
    font-weight: bold;
}
.statusContainer #status{
    font-size: 15px;
    font-weight: bold;
    color: #666666;
    margin-left: 8px;
}
/* entries list */
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100%;
    overflow-y: auto;
}
ul li{
    list-style: none;
    display: flex;
    align-items: center;
    border-top: 1px solid #222222;
    height: 70px;
}
ul li img{
    width: 70px;
    height: 50px;
    border: 1px solid white;
    border-radius: 3px;
    overflow: hidden;
    margin-left: 12px;
}
ul li button{
    margin-left: auto;
    margin-right: 12px;
    height: 28px;
    width: 70px;
    border: 1px solid #666666;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.1);
    font-size: 12px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
ul li button:hover {
    background-color: #F8A61A;
    border: 1px solid #F8A61A;
}
#entriesList{
    padding-top: 30px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.entryName{
    margin-left: 12px;
}
.entriesList {
    width: 645px;
    height: 435px;
    display: flex;
    flex-direction: column;
}
.entriesList .panelTitle{
    padding-left: 12px;
}
ul::-webkit-scrollbar {
    width: 5px;
}

ul::-webkit-scrollbar-track {
    background: #222222;
}

ul::-webkit-scrollbar-thumb {
    background: #666666;
}

/* edit entry */
#editEntry .entryDetails{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}
#editEntry .entryDetails div{
    margin-bottom: 16px;
}
#editEntry .entryDetails label{
    font-weight: bold;
    font-size: 16px;
    margin-right: 4px;
}
#editEntry .entryDetails span{
    font-weight: bold;
    font-size: 16px;
    color: #666666;
}
#entryThumbnail{
    border: 1px solid white;
    border-radius: 3px;
    overflow: hidden;
    width: 280px;
    height: 160px;
}

/* preloader panel */
#loader{
    position: fixed;
    top: 0px;
    left: 0px;
    cursor: default;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loader span{
    margin-top: 18px;
    font-size: 18px;
    font-weight: bold;
}
