/* global */
body{
    background-color: black;
    font-family: Lato, Arial, Helvetica;
    color: white;
    overflow: hidden;
    margin: 0px;
}
.panel{
    width: 100%;
    height: 100vh;
}
.button{
    width: 400px;
    height: 42px;
    border-radius: 4px;
    background-color: #F8A61A;
    border: 1px solid #F8A61A;
    color: white;
    text-align: center;
    cursor: pointer;
}
.button:hover{
    background-color: #f8970e;
}
.button span{
    line-height: 42px;
    font-weight: 700;
}
/* Login Screen */
.loginPanel{
    background-color: #222222;
    border: 1px solid rgba(102,102,102,0.5);
    border-radius: 6px;
    background-color: #222222;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginPanel .title{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.loginPanel .title span{
    font-size: 28px;
    margin-left: 8px;
}
.loginPanel .button{
    margin-top: 30px;
}
.loginPanel .loginLabel{
    color: #F4F4F4;
    font-weight: 700;
    font-size: 24px;
    margin-top: 30px;
}
.loginPanel .loginInput{
    width: 400px;
    height: 42px;
    margin-top: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-size: 16px;
    padding-left: 8px;
}
.loginPanel input[type=checkbox]
{
    -webkit-transform: scale(1.4);
    margin-right: 8px;
}
.loginPanel .link{
    font-size: 16px;
    color: #666666;
    cursor: pointer;
}
.loginPanel .link:hover{
    text-decoration: underline;
}

/* header */
#header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #222222;
    border-top: 3px solid black;
}
#header .title{
    font-size: 18px;
    font-weight: 700;
    margin-left: 8px;
}
#header img{
    margin-left: 12px;
}
#header .button{
    margin-left: auto;
    width: 80px;
    height: 24px;
    background-color: #222222;
    border: 1px solid white;
    border-radius: 3px;
}
#header .button:hover{
    background-color: #F8A61A;
    border: 1px solid #F8A61A;
}
#header .button span{
    line-height: 24px;
    font-size: 13px;
}
#header .username{
    margin-right: 16px;
    margin-left: 8px;
    color: #666666;
    cursor: pointer;
}
#header .username:hover{
    text-decoration: underline;
}
#header img{
    margin-left: 16px;
}

/* entries list */
ul{
    padding: 0;
    list-style-type: none;
}
ul li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
ul li img{
    width: 80px;
    height: 60px;
    border: 1px solid white;
    border-radius: 3px;
    overflow: hidden;
}
.entryName{
    margin-left: 8px;
}
.entriesList {
    margin-top: 30px;
    width: 645px;
    height: 300px;
    overflow-y: auto;
}
.entriesList::-webkit-scrollbar {
    width: 5px;
}

.entriesList::-webkit-scrollbar-track {
    background: #222222;
}

.entriesList::-webkit-scrollbar-thumb {
    background: #666666;
}
