/* global */
body{
    background-color: black;
    font-family: Lato, Arial, Helvetica;
    color: white;
    overflow: hidden;
    margin: 0px;
}
input[type=checkbox]
{
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    margin-right: 8px;
}
input[type=radio] {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.panel{
    width: 100%;
    height: 100vh;
}
.floater{
    display: block;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.disabled {
    pointer-events: none;
    opacity: 0.3;
}
.panelTitle{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
}
.button{
    text-align: center;
    width: 80px;
    height: 24px;
    border: 1px solid #666666;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.1);
    font-size: 12px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
.button:hover{
    background-color: #F8A61A;
    border: 1px solid #F8A61A;
}
.button span{
    line-height: 24px;
    font-size: 13px;
}

/* Login Screen */
.loginPanel{
    background-color: #222222;
    border: 1px solid rgba(102,102,102,0.5);
    border-radius: 6px;
    background-color: #222222;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginPanel .title{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.loginPanel .title span{
    font-size: 28px;
    margin-left: 8px;
}
.loginPanel .loginLabel{
    color: #F4F4F4;
    font-weight: 700;
    font-size: 24px;
    margin-top: 30px;
}
.loginPanel .loginInput{
    width: 400px;
    height: 42px;
    margin-top: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-size: 16px;
    padding-left: 8px;
}
.loginPanel .link{
    font-size: 16px;
    color: #666666;
    cursor: pointer;
}
.loginPanel .link:hover{
    text-decoration: underline;
}
.loginPanel>.button{
    margin-top: 30px;
    width: 400px;
    height: 42px;
    border-radius: 4px;
    background-color: #F8A61A;
    border: 1px solid #F8A61A;
    color: white;
    text-align: center;
    cursor: pointer;
}
.loginPanel>.button:hover{
    background-color: #f8970e;
}
.loginPanel>.button span{
    line-height: 42px;
    font-weight: 700;
    font-size: 16px;
}
/* header */
#header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #222222;
    border-top: 3px solid black;
}
#header .title{
    color: #afaeae;
    font-weight: 700;
    margin-left: 8px;
    position: absolute;
    left: 66px;
    font-size: 11px;
    top: 38px;
}
#header img{
    margin-left: 12px;
}
#header .username{
    margin-left: 8px;
    color: #d0cece;
    cursor: pointer;
}
#header .username:hover{
    text-decoration: underline;
}
#header img{
    margin-left: 16px;
}

/* status footer */
.statusContainer{
    background-color: #222222;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 28px;
    padding-left: 12px;
    width: 100%;
    display: flex;
    align-items: center;
}
.statusContainer .label{
    font-size: 15px;
    font-weight: bold;
}
.statusContainer #status.working{
    color: #F8A61A;
}
.statusContainer #status{
    font-size: 15px;
    font-weight: bold;
    color: #666666;
    margin-left: 8px;
}
/* entries list */
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100%;
    overflow-y: auto;
}
ul li{
    list-style: none;
    display: flex;
    align-items: center;
    border-top: 1px solid #222222;
    height: 70px;
}
ul li img{
    width: 70px;
    height: 50px;
    border: 1px solid white;
    border-radius: 3px;
    overflow: hidden;
    margin-left: 12px;
}
.search{
    font-weight: normal !important;
    margin-right: 17px important;
    cursor: default !important;
}
.search,
ul li button{
    margin-left: auto;
    margin-right: 12px;
    height: 28px;
    width: 70px;
    border: 1px solid #666666;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.1);
    font-size: 12px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
ul li button:hover {
    background-color: #F8A61A;
    border: 1px solid #F8A61A;
}
#entriesList{
    padding-top: 30px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.task-text,
.entryName{
    font-weight: normal;
    margin-left: 12px;
}
.entriesList {
    width: 100%;
    height: 435px;
    display: flex;
    flex-direction: column;
}
.entriesList .panelTitle{
    padding-left: 12px;
}
.entriesList input[type=checkbox] {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.entriesList label {
   font-size: 14px;
}
.entriesList .search{
    width: 160px;
    height: 20px;
    font-size: 14px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-left: auto;
    padding-left: 4px;
}
.entriesList .search:focus {
    outline-width: 0;
}
ul::-webkit-scrollbar {
    width: 5px;
}

ul::-webkit-scrollbar-track {
    background: #222222;
}

ul::-webkit-scrollbar-thumb {
    background: #666666;
}

/* edit entry */
#editEntry .entryDetails, #uploading .entryDetails{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}
#editEntry .entryDetails div, #uploading .entryDetails div{
    margin-bottom: 16px;
}
#editEntry .entryDetails label, #uploading .entryDetails label{
    font-weight: bold;
    font-size: 16px;
    margin-right: 4px;
}
#editEntry .entryDetails span, #uploading .entryDetails span{
    font-weight: bold;
    font-size: 16px;
    color: #666666;
}
#entryThumbnail{
    border: 1px solid white;
    border-radius: 3px;
    overflow: hidden;
    width: 280px;
    height: 160px;
}

#uploading.panel .buttons,
#editEntry.panel .buttons{
    bottom: 50px;
    padding-top: 25px;
    height: 26px;
}
#upload.floater .buttons{
    bottom: 0px;
    padding-top: 0px;
    height: 60px;
    margin-top: 0px;
    margin-bottom: 0;
}

#uploading .buttons,
#update .buttons,
#upload .buttons,
#editEntry .buttons
{
    position: absolute;
    bottom: 30px;
    border-top: solid 1px #666666;
    margin-left: -30px;
    height: 16px;
    padding-top: 32px;
}

#editEntry .buttons, #update .buttons, #upload .buttons, #uploading .buttons{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#editEntry .button, #update .button, #upload .button, #uploading .button{
    width: 120px;
    height: 32px;
    margin-left: 12px;
    margin-right: 12px;
}
#editEntry .button span, #update .button span, #upload .button span, #uploading .button span{
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
}
.mainUpload .details{
    display: none !important;
}
.uploadAnimation{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.mainUpload .uploadAnimation {
    display: flex;
}
.mainUpload .panelTitle {
    margin-bottom: 0px;
}

/* preloader panel */
#loader{
    position: fixed;
    top: 0px;
    left: 0px;
    cursor: default;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loader span{
    margin-top: 18px;
    font-size: 18px;
    font-weight: bold;
}

.search-close-button{
    position: absolute;
    right: 12px;
    color: #cccccc;
    background: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.search-close-button:focus { 
    outline:0 !important; 
}
.task-text{
    color: #AAAAAA;
    font-size: 14px;
    font-weight: normal;
}
.active-box{
    display: inline-block;
    height: 100%;
}
.active-box .entryName{
    padding-top: 12px;

}
.active-box .task-text{
    padding-top: 4px;
}
.user-menu{
    color: white;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 3px;
    cursor: pointer;
    transform: scaleY(0.7);
}
.logoff:hover{
    text-decoration: underline;
}    
.logoff{
    color: #e6e6e6;
    font-size: 13px;
    position: absolute;
    top: 48px;
    right: 12px;
    border:solid  1px  #8e8e8e ;
    border-radius: 3px;
    padding: 5px 24px;
    background-color: #222222;
    cursor: pointer;
}